{% extends 'base.html' %}
{% block title %} Admin Home | VideoStream {% endblock %}
{% load static %}

{% block content %}

    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}


    <div class="container">
        <div class="m-5 text-center">
            <div class="row">
                <div class="col-md-12 my-2">
                    <div class="card shadow">
                        <div class="card-body">
                            <a class="p-xl-5" href="/video_stream_admin/subscription_plans/" style="text-decoration: none;">
                                <h5> Subscription Plans</h5>
                            </a>

                        </div>
                    </div>
                </div>

                <div class="col-md-12 my-2">
                    <div class="card shadow">
                        <div class="card-body">
                            <a class="p-xl-5" href="/video_stream_admin/subscription_type_list/" style="text-decoration: none;">
                                <h5> Categories</h5>
                            </a>

                        </div>
                    </div>
                </div>

                <div class="col-md-12 my-2">
                    <div class="card shadow">
                        <div class="card-body">
                            <a class="p-xl-5" href="/video_stream_admin/user_list/" style="text-decoration: none;">
                                <h5> Users </h5>
                            </a>

                        </div>
                    </div>
                </div>

                <div class="col-md-12 my-2">
                    <div class="card shadow">
                        <div class="card-body">
                            <a class="p-xl-5" href="/video_stream_admin/video_list/" style="text-decoration: none;">
                                <h5> Videos </h5>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}