{% extends 'base.html' %}
{% block title %} {{ title }} | VideoStream {% endblock %}
{% load static %}

{% block content %}

    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}


    <div class="container">
        <div class="jumbotron m-5">
            <form method="post" enctype="multipart/form-data">
                <div class="justify-center">
                    {% csrf_token %}
                    {{ form.as_p }}
                </div>

                <div class="text-center">
                    <button class="btn btn-primary">{{ btn_name }}</button>
                </div>
            </form>
        </div>

    </div>

    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#myimage').attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }


    </script>


    <script>
        document.getElementById("id_file")
        .onchange = function(event) {
          let file = event.target.files[0];
            document.querySelector("video").src = URL.createObjectURL(file);
        }



        let img_home = document.getElementById('myimage');
        img_home.src = "/media/{{ video_content.cover_image }}";


        let video_home = document.getElementById('myvideo');
        video_home.src = "/media/{{ video_content.file }}"
        video_home.parentElement.load();



    </script>

{% endblock %}