{% extends 'base.html' %}
{% block title %} Home | VideoStream {% endblock %}
{% load static %}

{% block content %}

    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}

    {% if not subscribed %}

        <div class="container">
            <div class="m-5 text-center">

                <h1>You are not Subscribed! Please choose a plan to proceed!</h1>

                <br>

                <div class="row">
                    <div class="col-md-12 my-2">
                        <a href="/plans/" class="text-dark text-decoration-none">
                            <div class="card shadow" style="width: 60rem;">
                                <div class="card-body">
                                    <h5 class="card-title">Select Plans</h5>
                                    <p> Click to view available plans </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    {% else %}
        aa
    {% endif %}


{% endblock %}