{% extends 'base.html' %}
{% block title %} {{ title }} | VideoStream {% endblock %}
{% load static %}
{% load custom_tags %}

{% block content %}

    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <div class="container">

        <div class="jumbotron text-center">

            <h3><span style="color: green"><i class="fas fa-check-circle fa-5x"></i></span></h3>
            <h4> Order Successfully Placed </h4>
            <a class="text-dark" target="_blank" href="/{{ invoice_path }}/"> View Invoice </a>

        </div>

    </div>


{% endblock %}