{% extends 'video_stream_app/base.html' %}
{% block title %} {{ title }} | Video Stream {% endblock %}
{% load static %}

{% block content %}

    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <div class="container">
        <div class="m-5 text-center">
            <div class="row">
                <div class="col-md-3 my-2">
                    <div class="card shadow" style="width: 15rem;">
                        <div class="card-body">

                            <a href="/video_stream_admin/subscription_type/add/">
                                <span style="font-size: 68px; color: Dodgerblue;">
                                    <i class="fas fa-plus-circle"></i>
                                </span>
                            </a>

                            <h5> Add New Subscription Type</h5>
                        </div>
                    </div>
                </div>
                {% for subscription_type in subscription_types %}
                    <div class="col-md-3 my-2">
                        <div class="card shadow" style="width: 15rem;">
                            <div class="card-body">
                                <h4 class="card-title"> <strong>{{ subscription_type.type_name}}</strong></h4>

                                <div class="py-5">
                                    <a href="/video_stream_admin/subscriptions/edit__{{ subscription.pk }}/">
                                        <span style="color: Dodgerblue;" class="pr-2">
                                            <i class="fas fa-edit"></i>
                                        </span>
                                    </a>
                                    <a href="/video_stream_admin/subscriptions/delete__{{ subscription.pk }}/">
                                        <span style="color: tomato;" class="pl-2">
                                            <i class="fas fa-trash-alt"></i>
                                        </span>
                                    </a>
                                </div>


                                <!-- <a href="javascript:" onclick="updateCart(1, {{ product.pk }})">
                                    <span style="font-size: 20px; color: #006b1b">
                                        <i class="fas fa-plus-circle"></i>
                                    </span>
                                </a>
                                <a href="javascript:" onclick="updateCart(-1, {{ product.pk }})">
                                    <span style="font-size: 20px; color: #ba2121;">
                                        <i class="fas fa-minus-circle"></i>
                                    </span>
                                </a> -->

                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


{% endblock %}