{% extends 'base.html' %}
{% load custom_tags %}
{% block title %} {{ title }} | VideoStream {% endblock %}
{% load static %}

{% block content %}

    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <div class="container m-5">
        <table class="table border">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Username</th>
                    <th scope="col">Full Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Current Subscription</th>
                    <th scope="col">Type</th>
                    <th scope="col">Is Blocked</th>
                    <th scope="col">Purchase Date</th>
                    <th scope="col">Remaining days</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ user.username }}</td>
                    <td>{{ user.full_name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.phone }}</td>
                    <td>
                        {% if user.user_subscription %}
                            {{ user.user_subscription }}
                        {% else %}
                            None
                        {% endif %}
                    </td>
                    <td>{{ user.user_type }}</td>
                    <td>{{ user.is_blocked }}</td>
                    <td>{{ user.purchase_date }}</td>
                    {% if users.user_subscription %}
                        <td>{{ user.purchase_date|calculate_time:user.user_subscription.subscription_validity }}</td>
                    {% else %}
                        <td> None </td>
                    {% endif %}
                    <td><a href="/video_stream_admin/user/edit__{{ user.pk }}/"><i class="fas fa-edit"></i></a></td>
                    <td><a onclick="deleteFunc({{ user.pk }})" href="" ><i class="fas fa-trash-alt" style="color: tomato"></i></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


    <script>
        function deleteFunc(pk) {
            let url;
            if (confirm("Are you sure you want to delete!")) {
                url = "/video_stream_admin/user/delete__" + pk + "/";

                $.post(url,
                    {
                        data: pk
                    },
                    function (data) {
                        location.reload();

                    });

            } else {
                console.log("Not Deleted");
            }
        }
    </script>

{% endblock %}