{% extends 'base.html' %}
{% block title %} {{ title }} | VideoStream {% endblock %}
{% load static %}

{% block content %}

    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <style>
        .card {
          border:none;
          padding: 10px 50px;
        }

        .card::after {
          position: absolute;
          z-index: -1;
          opacity: 0;
          -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
          transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        }

        .card:hover {


          transform: scale(1.02, 1.02);
          -webkit-transform: scale(1.02, 1.02);
          backface-visibility: hidden;
          will-change: transform;
          box-shadow: 0 1rem 3rem rgba(0,0,0,.75) !important;
        }

        .card:hover::after {
          opacity: 1;
        }

        .card:hover .btn-outline-primary{
          color:white;
          background:#007bff;
        }
    </style>

    <div class="container-fluid">
        <div class="container p-5">
            <div class="row">
                {% for subscription in subscriptions %}
                    <div class="col-lg-4 col-md-12 mb-4">
                        <div class="card h-100 shadow-lg">
                            <div class="card-body">
                                <div class="text-center p-3">
                                    <h5 class="card-title"> {{ subscription.subscription_type.type_name }} </h5>
                                    <span class="h4"> BDT {{ subscription.subscription_price }} </span>/
                                    {% if subscription.subscription_validity > 1 %}
                                        {{ subscription.subscription_validity }} Months
                                    {% else %}
                                        Month
                                    {% endif %}

                                </div>
                            </div>
                            <div class="card-body text-center">
                                <button class="btn btn-outline-primary btn-lg" style="border-radius:30px">Select</button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>



{% endblock %}